<div class=main-container>
   <div class=start>
     <div class=start-text>
      <h1>花束診断スタート</h1>
      <%= link_to "touch", new_bouquet_path, class: "btn btn-white btn-animation-1" %>
      
     </div>
   </div>
</div>