<div class=main-container>
   <div class=start>
     <div class=start-text>
      <h1>花束診断スタート</h1>
      <a href="#" class="btn btn-white btn-animation-1"><%= link_to "touch", new_bouquet_path, class: "link" %>
      </a> 
     </div>
   </div>
</div>