<div class=main-container>
<div class="intoro">
  
  <p>あなたにぴったりの花束は...</p>
</div>
<div class="bouquet-container">
  <% case [@bouquet.question1, @bouquet.question2, @bouquet.question3, @bouquet.question4] %>
    <% when ["1", "1", "1", "1"] %>
      <h1>春の訪れ</h1>
      <div class=texta>
      <p>部屋を明るく彩るピンク系の花束がぴったり！プレゼントにも！</p>
      <p>チューリップ、スイートピー、アネモネなど</p>
      </div>
    <% when ["1", "1", "1", "2"] %>
      <h6>爽やかな朝</h6>
      <p>優しい色合いで気持ちのいい一日が始まる花束がぴったり！</p>
      <p>トルコキキョウ、ユーカリ、ミモザ</p>
    <% when ["1", "1", "2", "1"] %>
      <h6>癒しのひととき</h6>
    <p>優しい匂いで癒される花束がぴったり！リラックス効果も！</p>
    <p>バラ、スイートピー、フリージアなど</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>陽光のぬくもり</h6>
    <p>日の光に包まれるような優しさ溢れる花束がぴったり！</p>
    <p>ヒマワリ、カスミソウ、ブルースターなど</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>芸術家の休日</h6>
    <p>自分らしさで彩るアートな花束がぴったり！緑をプラスするのがおすすめ！</p>
    <p>アネモネ、ラナンキュラス、アリウムなど</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>風光る明朝</h6>
    <p>春の日の光に吹くそよ風をイメージした花束がぴったり！</p>
    <p>ガーベラ、レースフラワー、ルスカスなど</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>サンセット</h6>
    <p>夕陽のオレンジと雲のホワイトをイメージした花束がぴったり！</p>
    <p>ダリア、トルコキキョウ、カーネーションなど</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>花満ちる</h6>
    <p>咲くまでの過程も楽しめるお花が詰まった花束がぴったり！</p>
    <p>ユリ、コデマリ、トルコキキョウなど</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>華やかなウィークエンド</h6>
    <p>気持ちもお部屋も明るくなる華やかな花束がぴったり！</p>
    <p>バラ、スプレーカーネーション、カスミソウなど</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>フレッシュアップ</h6>
    <p>ホワイトとイエローで揃えたリフレッシュできる花束がぴったり！</p>
    <p>ラナンキュラス、オンシジウム、ミモザなど</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>宵の口の幸福</h6>
    <p>魅力溢れる上品な花束がぴったり！赤いバラがおすすめ！</p>
    <p>バラ、トルコキキョウ、ガーベラなど</p>
    <% when ["2", "1", "2", "2"] %>
    <h6>春の訪れ</h6>
    <p>部屋を明るく彩るピンク系の花束がぴったり！プレゼントにも！</p>
    <p>チューリップ、スイートピー、アネモネなど</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>憩いの空間</h6>
    <p>落ち着く時間を空間とともに作り出す花束がぴったり！</p>
    <p>ストック、フリージア、デルフィニウムなど</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>癒しのひととき</h6>
    <p>優しい匂いで癒される花束がぴったり！リラックス効果も！</p>
    <p>バラ、スイートピー、フリージアなど</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>爽やかな朝</h6>
    <p>優しい色合いで気持ちのいい一日が始まる花束がぴったり！</p>
    <p>トルコキキョウ、ユーカリ、ミモザ</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>風光る明朝</h6>
    <p>春の日の光に吹くそよ風をイメージした花束がぴったり！</p>
    <p>ガーベラ、レースフラワー、ルスカスなど</p>
  <% when ["3", "1", "1", "1"] %>
    <h6>宵の口の幸福</h6>
    <p>魅力溢れる上品な花束がぴったり！赤いバラがおすすめ！</p>
    <p>バラ、トルコキキョウ、ガーベラなど</p>
  <% when ["3", "1", "1", "2"] %>
    <h6>陽光のぬくもり</h6>
    <p>日の光に包まれるような優しさ溢れる花束がぴったり！</p>
    <p>ヒマワリ、カスミソウ、ブルースターなど</p>
  <% when ["3", "1", "2", "1"] %>
    <h6>花満ちる</h6>
    <p>咲くまでの過程も楽しめるお花が詰まった花束がぴったり！</p>
    <p>ユリ、コデマリ、トルコキキョウなど</p>
  <% when ["3", "1", "2", "2"] %>
    <h6>フレッシュアップ</h6>
    <p>ホワイトとイエローで揃えたリフレッシュできる花束がぴったり！</p>
    <p>ラナンキュラス、オンシジウム、ミモザなど</p>
  <% when ["3", "2", "1", "1"] %>
    <h6>芸術家の休日</h6>
    <p>自分らしさで彩るアートな花束がぴったり！緑をプラスするのがおすすめ！</p>
    <p>アネモネ、ラナンキュラス、アリウムなど</p>
  <% when ["3", "2", "1", "2"] %>
    <h6>サンセット</h6>
    <p>夕陽のオレンジと雲のホワイトをイメージした花束がぴったり！</p>
    <p>ダリア、トルコキキョウ、カーネーションなど</p>
  <% when ["3", "2", "2", "1"] %>
    <h6>華やかなウィークエンド</h6>
    <p>気持ちもお部屋も明るくなる華やかな花束がぴったり！</p>
    <p>バラ、スプレーカーネーション、カスミソウなど</p>
  <% when ["3", "2", "2", "2"] %>
    <h6>フレッシュアップ</h6>
    <p>ホワイトとイエローで揃えたリフレッシュできる花束がぴったり！</p>
    <p>ラナンキュラス、オンシジウム、ミモザなど</p>
  <% end %>
</div>
<%= link_to "花束診断に戻る", bouquets_path %>
</div>
