<div class=main-container>
    <h1>Flowervase</h1>
     <img src="C:\Users\HarunaNakamoto\Desktop\flowervase\images\flowervase\bianka-csenki--nxksGFSoeM-unsplash.jpg"
    <div class="image-box">
     <div class="image-content image-back">

    <div class=loss-container>
      <h3>ー花はナマモノー</h3>
      <div class=text1>
      <p>仕入れた花の30~40％は廃棄されるのが一般化されています。</p>
      <p>これは消費者の供給が分からないために</p>
      <p>花を仕入れた小売業者が必要以上に多く入荷してしまい、</p>
      <p>花屋さんでは”ナマモノ”とされ、花は時期がずれると廃棄されるのが現状です。</p>
      </div>
      <div class=text1>
      <p>フラワーロスによる経済損失は年間1500億円にものぼります。</p>
      </div>
      <div class=text3>
      <p>そうした廃棄される花を減らすために生まれた取り組みから、</p>
      <p>【ロスフラワー】という言葉が生まれました。</p>
      </div>
      <div class=text4>
      <p>参照　https://flower-life.org/news/flowerloss</p>
      
      <div class=image1>
      </div>

      </div>

      <h3>ーロスフラワーを減らすためにー</h3>
      <div class=text1>
      <p>ロスフラワーを減らすために様々な団体が行っている取り組みを</p>
      <p>ご紹介します。</p>
      </div>
      <div class=text2>

       <ol>１．農林水産省　花いっぱいプロジェクト</ol>
         <p>コロナ禍の2020年3月から農林水産省が実施している取り組みです。</p>
         <p>YouTubeチャンネルでのＰＲ活動や、</p>
         <p>フラワーロス削減に取り組む地域や企業などの情報を紹介。</p>
         </div>
        
         <div class=text3>
       <ol>2．サブスクリプション</ol>
         <p>消費者と契約し、提携する農園から注文分だけを仕入れ</p>         
         <p>定期的に花を届けるサービス。</p>
         <p>詳しく見る</p>
         </div>
        
         <div class=text4>
       <ol>3．ロスフラワーが購入できるサイト</ol>
         <p>サイズや品質が規格外とされてしまったもの</p>
         <p>鮮度が落ちてしまったもの</p>
         <p>これらのロスフラワーを購入できるサイトや、</p>
         <p>ドライフラワーやアクセサリーにして販売する企業が増加しています。</p>
         <p>詳しく見る</p>
         </div>
    


    <h3>ー個人でできることー</h3>
    <div class=text1>
         <p>大切な人へのプレゼントはもちろん、</p>
         <p>部屋の雰囲気を変えたいとき、</p>
         <p>自分へのご褒美に積極的に花屋さんに足を運ぶことで</p>
         <p>誰の手にも渡らずに廃棄されてしまう花を</p>
         <p>救うことができるかもしれません。</p>
         <p><%= link_to "ロスフラワーが買えるお店", flowers_shop_path %></p>

      </div>

      
      </div>
      </div>
    </div>

<p><%= link_to "トップ画面に戻る", flowers_top_path %></p>
