<div class="main-container-top">

 <div class="main-container">

 <h3>Filling the flowervase with happiness</h3>
 <h5>花をもっと楽しみたい</h5>

  

   <div class="container">
    <div class="center">
      <p>花を飾るときはどんなときですか？</p>

      <p>特別な日でなくても何気ない日を彩る</p>

      <p>ちいさな彩りが自分だけじゃなく</p>
      <p>誰かのためになることを知っていますか？</p>

      <p>まずは一輪から</p>

      <p>捨てられてしまう花を減らしたい</p>

      <p>一輪でも多く花を救う”花助け“してみませんか</p>
      <h3>Flowervase</h3>
    </div>
   </div>
 
   <div class="topic">
       <h3>ロスフラワーについて</h3>
       <p>廃棄されてしまう花を減らすために</p>
       <p><%= link_to "詳しく見る", flowers_loss_path %></p>

       <h3>ロスフラワーは購入できる？</h3>
       <p>"花助け"はだれでもできます！
       <p>お花のSDGｓに貢献できるロスフラワーの購入サイトの紹介</p>
       <p><%= link_to "詳しく見る", flowers_shop_path %></p>


       <h3>あなたの花屋</h3>
       <p>my favorite flower shops</p>
       <p><%= link_to "投稿を見る", flowers_path %></p>


       <h3>花束診断</h3>
       <p>あなたにぴったりの花束を</p>
       <p><%= link_to "診断はこちらから", bouquets_path %></p>

    </div>
</div>

       




