// Place all the styles related to the flowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-container-loss{
    background : #fff7eb;
    text-align: center;
    color: #661111;
    padding: 25vh auto;
    line-height: 90px;
    height: 40vh auto;
    
    
   
      

        background-image: url("bianka.jpg");
        background-size: cover;
      
      
}


.main-container{
    background : #fff7eb;
    background-color: rgba(255,255,255, 0.01);
    text-align: center;
    color: #661111;
    padding: 50vh auto;
    padding-top: 40vh;
   
    height: 40px auto;
    font-size: x-large;
    font-weight: 900;
}
.main-container-top{
    background-image: url("top.jpg");
        background-size: cover;
        width: 100vw;
        height: 300vh;
      

}
.btn03 a {
	background-color: #ceb849;
	border: 1px solid transparent;
}

.btn03 a::before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: 30%;
	height: 100%;
    text-align: center;
	background-color: transparent;
	border: 1px solid #333;
}

.btn03 a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -35px;
	transform: translateY(-50%);
	width: 70px;
	height: 1px;
	background-color: #333;
}

.btn03 a:hover {
	background-color: #d7ca88;
}
.logo{
    text-align: left;
    font-size: larger;
    line-height: 30px;
    padding: 10px 20px;
    color: #ffffff;
}
.container {
    background: #fff7eb;
    text-align: center;
    color: #693737;
    line-height: 40px;
    background-color: rgba(255,255,255, 0.01);
    font-size: 4vh ;
    line-height: 10vh;
  }

h3{
    line-height: 15vh;
    text-shadow: 0 2px 6px #827575;
}
.topic{
    color: #786E47;
    text-align: center;
    line-height: 30px;
    font-size: large;
    padding: 40px;
    
}
.img-top-topic{
    
    padding-left: 30vw;
    width: 7vw;
    height: 15vh;
}


.loss-container{
    text-align: left;
}

.text1{
    line-height: 20px;
   
    padding-bottom: 30vh;

}
.text2{
    line-height: 20px;
    padding: 20px;
}

.text3{
    line-height: 20px;
    padding: 20px;
}

.text4{
    line-height: 20px;
    padding: 20px;

}
.image1{
    background-image: url("images/basket-flowers.jpg");
    
    background-position: center;
    background-size: 40px;
}
.flower{
    border: 2px solid #ffffff;
    
    justify-content: center;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 6px#786E47 ;
    width: 50vw;

}

.span{
    color: #52A1A1;
}

.form{
    text-align: left;
    line-height: 20px;
    padding: 20px;

}

.posts{
    border: 2px solid #f6eaea;
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #f6eaea;
    top: 445px;
    width: 70vw;
    justify-content: center;
    
    
}
.circle{
    border: 2px solid #f6eaea;
    text-align: center;
    background-color: #f6eaea;
    width: 70vw;
    height: 30vw;
    padding: 30px 20px;
    border-radius: 50%/ 100% 100% 0 0;
    margin-left:15vh;
    bottom: 5px;
    margin: 0 auto;
} 
.img-index{
    width: 25vw;
    padding-top: 15vh;
}

.posts, .circle{
    position: 10vh;
}

body{
    background-color: #fff7eb;
   
}
.p{
    font-family: sans-serif;
        
    font-weight: 400;
    font-style: normal;
    
}
.image-box{

    perspective: 1px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.image-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 400px 0;
}

.main-text{
    text-align: center;
    padding: 100px 20px;
    margin: 10px 250px;
    background-color: #fff7eb;
    
}
.texta{
    line-height: 30px;
    padding: 20px;
    text-align: center;
}
.textb{
    line-height: 30px;
    padding: 20px;
    text-align: center;
}
.textc{
    line-height: 30px;
    padding: 20px;
    text-align: center;
}    

.center{
    padding: 25vh;
}

.topic-1{
    padding: 10vh;
}

a{
    text-decoration-line: none!important;
}

